<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/modal.css">
    <title>Productos</title>
</head>
<body >
    <section class="list">
        <div class="products" id="productos">
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modalContent">
                    <div>
                        <span class="close">&times;</span>
                    </div>
                    <br>
                    <div>
                        <h3>Realizar Pedido</h3>
                        <div class="quantity">
                            <label for="cant">Cantidad a comprar</label>
                            <input type="number" id="cant">
                        </div>
                        <div class="add">
                            <input type="button" value="Agregar al carrito">
                            <input type="button" value="Previsualizacion">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript" src="../js/products.js"></script>
</html>